.val {
    font-family: "Great Vibes", cursive;
  }
  
  .title {
        font-family: "Montserrat", sans-serif; 
  }
  
  .normal{
   
    font-family: 'Playfair Display', serif;
    
  }
  
  body{
    color: white;
    /* background: linear-gradient(140deg, red, rgb(73, 2, 2)); */
    background: url("/public/assets/bgImage.png");
    background-repeat: no-repeat;
   
  }

  .back{
    bottom: 16px;
    left: 16px;
    margin: 16px;
    position: fixed;
    float: left;

  }