.hurt{
    background: rgb(238, 24, 24);
}

.bg{
    background: linear-gradient(140deg, red, rgb(73, 2, 2));

}

.broken-right{
    transform: rotate(-16deg);

  }

  .broken-left{
    transform: rotate(16deg);

  }

.hurtImoji{
height: 170px;
width: 170px;
}

.cry{
    height: 200px;
    width: 200px;
    }

    .hardLove{
 
        width:  400px;
     
    }