
.jar-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  font-weight: bold;
  letter-spacing: 2px;
}


.jar-layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 90%;
  max-width: 1100px;
}


.text-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reason {
  background: #f8f9fa;
  padding: 0.8rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}


.jar {
  height: 60vh;
  max-height: 600px;
}


@media (max-width: 768px) {
  .jar-layout {
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
  }

  .jar {
    height: 45vh;
  }
}
