
 
.svg-content {
  color: white;
  font-family: "Georgia", serif;
  height: 250px; 
  overflow-y: auto; 
  padding: 10px;
  scrollbar-width: none;
}


.svg-content::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  animation: slowScroll 20s linear infinite;
}


.svg-content:hover .scroll-container {
  animation-play-state: paused;
}

@keyframes slowScroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); } 
}

.love-svg {
  max-width: 100%;
  height: auto;
}


